.styles_dialog__VTyAG .MuiPaper-root {
    max-width: 400px!important
}

.styles_dialogTitle__IIS50 {
    color: #aaaeb3;
    text-align: center
}

.styles_progressBar__yWR6w.MuiLinearProgress-root {
    background-color: #636c7c
}

.styles_progressBar__yWR6w .MuiLinearProgress-barColorSecondary {
    background-color: #fff
}

.styles_oval-left__vZ59j {
    position: fixed;
    top: 20vw;
    left: -15vw;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    z-index: -1
}

.styles_oval-right__r_PrP {
    position: fixed;
    width: 65vw;
    height: 65vw;
    top: 10vh;
    left: 50vw;
    border-radius: 50%;
    z-index: -1
}

.styles_disclaimer__cEjP8 {
    white-space: pre-line;
    max-width: 600px
}

.styles_disclaimer__cEjP8,.styles_interest-rate__S7gIM {
    color: #96a3bd;
    margin: .375rem;
    text-align: center;
    word-break: break-word;
    font-size: 13px
}

.styles_privacy-policy__e0NI9,.styles_terms__8AzKb {
    color: #96a3bd;
    margin: .375rem;
    text-align: center;
    word-break: break-word;
    max-width: 600px;
    font-size: 13px
}

.styles_buy-button__wNSB3 {
    min-height: 3rem
}

.styles_required-fields-warning__YDcej {
    width: 100%;
    border-radius: 8px 8px 0 0;
    padding: 2px 8px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    cursor: pointer
}

.styles_textField__pz9RA {
    width: 100%
}

.styles_textField__pz9RA>label {
    font-family: Nunito,Lato,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #b7b7b7;
    text-transform: uppercase
}

.styles_textField__pz9RA>label.Mui-focused,.styles_textField__pz9RA>label.MuiFormLabel-filled {
    top: 4px
}

.styles_textField__pz9RA .MuiInput-input.Mui-disabled {
    opacity: .5;
    -webkit-text-fill-color: unset
}

.styles_textField__pz9RA>label.Mui-disabled {
    color: #aaaeb3!important
}

.styles_textField__pz9RA.hidden-label>label {
    display: none
}

.styles_hasIcon__ahkFY {
    position: relative
}

.styles_hasIcon__ahkFY .styles_icon__wKQFL {
    position: absolute;
    top: 10.5px;
    width: 18px;
    height: 28px
}

.styles_hasIcon__ahkFY .styles_icon__wKQFL .svg-inline--fa {
    font-size: 1.2rem;
    color: #383c3e;
    transform: translateY(8px)
}

.styles_hasIcon__ahkFY .styles_icon__wKQFL.hasFocus>.svg-inline--fa {
    color: #8470f2
}

.styles_hasIcon__ahkFY .styles_textField__pz9RA>label {
    padding-left: 27px
}

.styles_hasIcon__ahkFY .styles_textField__pz9RA>label.Mui-focused,.styles_hasIcon__ahkFY .styles_textField__pz9RA>label.MuiFormLabel-filled {
    transform: translate(8px,-1.5px) scale(.75)
}

.styles_hasIcon__ahkFY .styles_textField__pz9RA input {
    padding-left: 27px
}

.styles_autocomplete__jMvsV label.Mui-error+div.MuiInputBase-root,.styles_autocomplete__jMvsV.required label.MuiFormLabel-colorSuccess+div.MuiInputBase-root {
    padding-right: 60px
}

.styles_icon__3jPq1.svg-inline--fa {
    margin-top: 1.5rem;
    margin-right: .3rem
}

.styles_tags__Pn_IS {
    position: absolute;
    max-width: 83%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.styles_textField__qKDc3 input {
    cursor: pointer
}

.styles_selectAllOption__D2FoL {
    list-style-type: none;
    margin: 0;
    padding: .4rem 0;
    cursor: pointer;
    background-color: #fff
}

.styles_selectAllOption__D2FoL:hover {
    background-color: #f2f2f2!important
}

.styles_selectAllOption__D2FoL[aria-selected=true] {
    background-color: rgba(132,112,242,.129)!important
}

.styles_validationIconAlignment__jt58u {
    width: 1.2rem;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px;
    top: -1px
}

.styles_value-label__pNisu {
    color: #636c7c!important;
    font-weight: 800;
    opacity: .7
}

.styles_shipping-label__G_RRc {
    margin-top: .3rem;
    color: #aaaeb3!important
}

.styles_content__4VtpA {
    min-height: 10.5vh;
    max-height: 68vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: .75rem
}

.styles_option__VP2AM:hover {
    background: rgba(230,233,235,.561)
}

.styles_phonefield__Ibxwp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px
}

.styles_phonefield__Ibxwp>div,.styles_phonefield__Ibxwp>div .MuiSelect-select {
    display: flex
}

.styles_phonefield__Ibxwp>div .MuiSelect-select>span {
    display: none
}

.styles_phonefield__Ibxwp>div>div>svg {
    top: calc(50% - .3em)
}

.styles_error_text__TlN11 {
    font-family: Nunito,Lato,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.66;
    text-align: left;
    margin: -20px 0 0
}

.styles_countries__pAcPQ .MuiSelect-select {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px
}

.styles_countries__pAcPQ .MuiSelect-select:focus {
    background-color: transparent
}

.styles_countries__pAcPQ input {
    display: none
}

.styles_textField__YZXSi {
    width: 100%;
    margin-bottom: 1rem
}

.styles_textField__YZXSi>label {
    font-family: Nunito,Lato,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none
}

.styles_textField__YZXSi>label.Mui-focused,.styles_textField__YZXSi>label.MuiFormLabel-filled {
    top: 4px
}

.styles_textField__YZXSi .MuiInput-input.Mui-disabled {
    opacity: .5;
    -webkit-text-fill-color: unset
}

.styles_textField__YZXSi.hidden-label>label {
    display: none
}

.styles_hasIcon__uYFSP {
    position: relative
}

.styles_hasIcon__uYFSP .styles_icon__GVZWx {
    position: absolute;
    top: 9px;
    width: 18px;
    height: 28px
}

.styles_hasIcon__uYFSP .styles_icon__GVZWx .svg-inline--fa {
    font-size: 1.2rem;
    color: #383c3e;
    transform: translateY(8px)
}

.styles_hasIcon__uYFSP .styles_icon__GVZWx.hasFocus>.svg-inline--fa {
    color: #8470f2
}

.styles_hasIcon__uYFSP .styles_textField__YZXSi>label {
    padding-left: 27px
}

.styles_hasIcon__uYFSP .styles_textField__YZXSi>label.Mui-focused,.styles_hasIcon__uYFSP .styles_textField__YZXSi>label.MuiFormLabel-filled {
    transform: translate(8px,-1.5px) scale(.75)
}

.styles_hasIcon__uYFSP .styles_textField__YZXSi input {
    padding-left: 27px
}

.styles_filled___OEOe .MuiInputBase-root {
    border-radius: .5rem;
    padding-left: .5rem;
    padding-right: .5rem
}

.styles_filled___OEOe .MuiInputBase-root ::-moz-placeholder {
    opacity: 1
}

.styles_filled___OEOe .MuiInputBase-root ::placeholder {
    opacity: 1
}

.styles_filled___OEOe .MuiInputBase-input {
    padding: 4px 0
}

.styles_phonefield__iW__l>div,.styles_phonefield__iW__l>div .MuiSelect-select {
    display: flex
}

.styles_phonefield__iW__l>div .MuiSelect-select>span {
    display: none
}

.styles_error_text__F91W_ {
    font-family: Nunito,Lato,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.66;
    text-align: left;
    padding-top: 6px;
    margin: -20px 0 0
}

.styles_countries__uVD7I {
    margin-bottom: 1rem
}

.styles_countries__uVD7I .MuiSelect-select {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px
}

.styles_countries__uVD7I .MuiSelect-select:focus {
    background-color: transparent
}

.styles_countries__uVD7I .MuiSvgIcon-root {
    top: 20px
}

.styles_countries__uVD7I input {
    display: none
}

.styles_validationIconAlignment__MaRQm {
    width: 1.2rem;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px
}

.styles_icon___i580.svg-inline--fa {
    margin-right: .3rem
}

.styles_tool_tip__F8DQa .MuiTooltip-tooltip {
    font-size: 14px;
    line-height: 1rem;
    padding: 5px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0,0,0,.85)!important;
    opacity: .9!important
}

.styles_cards__0wlYz {
    margin-bottom: -100px;
    margin-top: 84px
}

.styles_card_brand__cH833 {
    height: 18px;
    width: auto;
    border-radius: 3px
}

.styles_inactive__1CFg2 {
    filter: grayscale(1);
    opacity: .25
}

.styles_card-brands__UL_3z {
    top: 3rem;
    position: absolute
}

.styles_number_input__uJF6a {
    position: relative
}

.styles_number_input__uJF6a .MuiInputBase-root {
    margin-bottom: 1.5rem
}

.styles_btn__x_Jhk {
    cursor: pointer;
    max-width: 200px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 0;
    border: .15em solid #a4afbf;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    line-height: normal
}

@media(max-width: 960px) {
    .styles_btn__x_Jhk {
        max-width:100%
    }
}

.styles_btn__x_Jhk>span {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: .83px;
    color: #a4afbf
}

.styles_selected__a6npu {
    border: .15em solid transparent;
    background-origin: border-box;
    background-clip: content-box,border-box
}

.styles_btn__x_Jhk.styles_selected__a6npu>span {
    color: #5498ee
}

.styles_btn__x_Jhk:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    outline: 0;
    transition: box-shadow .3s ease-in-out
}

.styles_orderbump_title__OzjEH {
    border-radius: 10px 10px 0 0;
    color: #fff;
    background-image: linear-gradient(8deg,#1dc4e9,#8470f2)
}

.styles_orderbump_description__qPmQG {
    white-space: pre-line
}

.styles_selected_content_max__GKiQT {
    opacity: .5
}

.styles_orderbump_description__qPmQG,.styles_orderbump_offers__TIyl0 {
    color: #96a3bd;
    background-color: #f9f9f9
}

.styles_orderbump_content__FB3UT {
    text-align: center;
    box-shadow: 0 2px 4px 0 hsla(0,5%,85%,0);
    border: 2px solid transparent;
    background: #fff;
    padding: 10px;
    transition: all .3s ease-in-out
}

.styles_orderbump_content__FB3UT img {
    width: 60px;
    height: 60px
}

.styles_orderbump_content__FB3UT .styles_orderBumpName__MZ44D {
    font-size: 16px;
    letter-spacing: -.24px;
    text-align: left;
    color: #1f2949;
    margin: 0
}

.styles_orderbump_content__FB3UT .styles_content_value__l3atL {
    font-size: 16px;
    line-height: 1.4;
    text-align: right;
    color: #686d73;
    margin: 0
}

.styles_conversion_disclaimer__HfV_R {
    font-size: .6rem;
    text-align: right
}

.styles_autocomplete__pGxLg .MuiAutocomplete-endAdornment,.styles_textField__u_n78>:after,.styles_textField__u_n78>:before {
    display: none
}

.styles_autocomplete__pGxLg .MuiAutocomplete-inputRoot {
    padding-right: 0!important
}

.styles_autocomplete__pGxLg input::-moz-placeholder {
    font-size: 12px
}

.styles_autocomplete__pGxLg input::placeholder {
    font-size: 12px
}

.styles_secure-payment__B1qXa {
    font-family: Nunito,Lato,Arial,Helvetica,sans-serif!important;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: unset
}

.styles_secure-payment--background__CaR9U {
    background-color: hsla(0,0%,100%,.2);
    border-radius: 10px;
    margin: 10px;
    padding: 20px
}

.styles_installments__dh_yl {
    font-size: 13px;
    font-weight: 500!important
}

.styles_total-price__4bHsr {
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_total-price--value__C_VjA {
    font-size: 29px
}

.styles_total-price--highlight__qOtvz {
    font-size: 24px
}

.styles_total-price--title___CYyY {
    opacity: .69;
    font-weight: 700
}

.styles_charged-every__NxnJX,.styles_total-price--title___CYyY {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_charged-every__NxnJX {
    opacity: .8
}

@media(max-width: 960px) {
    .styles_charged-every__NxnJX,.styles_total-price--title___CYyY {
        font-size:12px
    }
}

@media only screen and (min-width: 992px) {
    .styles_summary-payment__ddUUF {
        font-size:.7em;
        line-height: 1;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase
    }
}

.styles_trial-label__d9_rs {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_trial-value__GnCiG {
    font-weight: 700;
    letter-spacing: 2.4px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center;
    font-size: 29px
}

.styles_v-icon__cefpi {
    font-size: 14px
}

.styles_subtitle-elements--title__MYivJ {
    padding-right: 10px;
    padding-left: 10px
}

.styles_charged-every__nvPQp {
    opacity: .8;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_product-title__plaOO {
    max-width: 250px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    overflow-wrap: anywhere
}

.styles_product-image__Y1QX8 {
    min-width: calc(51px + 7rem);
    min-height: calc(51px + 7rem);
    box-shadow: 0 24px 34px -18px rgba(0,0,0,.102);
    border: 2px solid #1dc4e9;
    background-color: #7894fc;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.styles_product-image-mobile__2_j4e {
    width: 150px;
    height: 150px;
    border-radius: 12px
}

.styles_product-count__HMJGn {
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    padding: 0 1rem;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 65px;
    min-height: 24px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.102);
    border-radius: 24px;
    background-color: #fff
}

.styles_total-price___c_R1 {
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_total-price--value__A9urO {
    font-size: 29px
}

.styles_total-price--highlight__lVFhH {
    font-size: 24px
}

.styles_total-price--title__yu63G {
    opacity: .69;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_installment__FOZ9N {
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    font-style: italic
}

.styles_separator__EmMdc {
    border-top: 1px solid #fff;
    margin-top: 30px;
    opacity: .2
}

.styles_v-icon__Zwecp {
    font-size: 14px;
    margin-right: 7px
}

.styles_subtitle-elements--title__S8bId {
    padding-right: 10px;
    padding-left: 10px
}

.styles_subtotal-label__QAGOA {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_subtotal-value___Dh_8 {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

@media(max-width: 960px) {
    .styles_subtotal-label__QAGOA {
        font-size:12px
    }

    .styles_subtotal-value___Dh_8 {
        font-size: 14px
    }
}

.styles_coupon-label__jiD9N {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_coupon-value__7BqV2 {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_subtitle-elements--title__IeqbN {
    padding-right: 10px;
    padding-left: 10px
}

@media(max-width: 960px) {
    .styles_coupon-label__jiD9N {
        font-size:12px
    }

    .styles_coupon-value__7BqV2 {
        font-size: 14px
    }
}

.styles_discount-label__he1N0 {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_discount-value__e4zc4 {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_subtitle-elements--title__7IgAh {
    padding-right: 10px;
    padding-left: 10px
}

@media(max-width: 960px) {
    .styles_discount-label__he1N0 {
        font-size:12px
    }

    .styles_discount-value__e4zc4 {
        font-size: 14px
    }
}

.styles_v-icon__hQFHW {
    font-size: 14px;
    margin-right: 7px
}

.styles_subtitle-elements--title__hNAiH {
    padding-right: 10px;
    padding-left: 10px
}

.styles_extras-label___K26d {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_extras-value__i5kOQ {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

@media(max-width: 960px) {
    .styles_extras-label___K26d {
        font-size:12px
    }

    .styles_extras-value__i5kOQ {
        font-size: 14px
    }
}

.styles_subtitle-elements--title__0Ygdd {
    padding-right: 10px;
    padding-left: 10px
}

.styles_shipping-label__5ctq4 {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_shipping-value__W_iqH {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

@media(max-width: 960px) {
    .styles_shipping-label__5ctq4 {
        font-size:12px
    }

    .styles_shipping-value__W_iqH {
        font-size: 14px
    }
}

.styles_subtitle-elements--title__A8DJS {
    padding-right: 10px;
    padding-left: 10px
}

.styles_tax-label__MjZ0T {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_tax-value__z6oIW {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

@media(max-width: 960px) {
    .styles_tax-label__MjZ0T {
        font-size:12px
    }

    .styles_tax-value__z6oIW {
        font-size: 14px
    }
}

.styles_product-label__2nvkA {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_product-value__C8hW3 {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_subtitle-elements--title__15N5a {
    padding-right: 10px;
    padding-left: 10px
}

@media(max-width: 960px) {
    .styles_product-label__2nvkA {
        font-size:12px
    }

    .styles_product-value__C8hW3 {
        font-size: 14px
    }
}

.styles_subtitle-elements--title__hdBpB {
    padding-right: 10px;
    padding-left: 10px
}

.styles_discount-label__MZThU {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-left: 3px
}

.styles_discount-value__nl0gY {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_cycles__doQ3c {
    opacity: .69;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase
}

@media(max-width: 960px) {
    .styles_discount-label__MZThU {
        font-size:12px
    }

    .styles_discount-value__nl0gY {
        font-size: 14px
    }
}

.styles_subtitle-elements--title__9xZQK {
    padding-right: 10px;
    padding-left: 10px
}

.styles_increment-label__njZ0d {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-left: 3px
}

.styles_increment-value__UCs_g {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_cycles___GbLu {
    opacity: .69;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase
}

@media(max-width: 960px) {
    .styles_increment-label__njZ0d {
        font-size:12px
    }

    .styles_increment-value__UCs_g {
        font-size: 14px
    }
}

.styles_total-price__pDTQq {
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_total-price--value__Wngih {
    font-size: 29px
}

.styles_total-price--highlight__JmzCn {
    font-size: 24px
}

.styles_total-price--title__RpycG {
    opacity: .69;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase
}

.styles_total-price--subtitle__EYV0j,.styles_total-price--title__RpycG {
    font-size: 10px;
    line-height: 1;
    text-align: center;
    color: #fff
}

.styles_subtitle-elements--title__g3yi_ {
    padding-right: 10px;
    padding-left: 10px
}

.styles_subtitle-elements--title__g3yi_ span {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_subtitle-elements--title__g3yi_ p {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_subtitle-elements__5OeFb .styles_payment-detail__dNQgM {
    border: none
}

.styles_shop-logo__HTFLu {
    width: 50px;
    height: 50px;
    background-color: #fff
}

.styles_shop-logo--img__bGgvy {
    width: 50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/subscribe/img/checkout/v4/shop.png)
}

.styles_shop-logo--title__SGVUV {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_subtitle-elements__5OeFb .styles_payment-detail__dNQgM {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff
}

.styles_order-details-background__rT7oc {
    background-image: linear-gradient(231deg,#8470f2,#1dc4e9);
    height: -moz-fit-content;
    height: fit-content;
    width: 280px
}

@media only screen and (min-width: 992px) {
    .styles_order-detail__EikeF {
        top:20px;
        min-width: 19rem;
        height: calc(100vh - 320px);
        min-height: 540px
    }
}

.styles_step__b1tEC .MuiStepIcon-text {
    font-size: 12px
}

.styles_step__b1tEC .MuiStepLabel-label {
    color: #aaaeb3;
    font-size: 16px;
    font-weight: 300!important;
    margin-top: 10px!important
}

.styles_poweredby__FYM6_ {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    color: #aaaeb3
}

.styles_logo__zsA0i {
    font-size: xx-large
}

.styles_logo__zsA0i img {
    background-color: #fff;
    filter: grayscale(1);
    opacity: .25;
    border-radius: 3px;
    width: 5vw;
    max-width: 30px
}

.styles_logo__zsA0i img:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_logo__zsA0i .styles_readable__uZntM img {
    padding: .25rem;
    max-width: 38px
}

.styles_dmg-logo__2F6P4,.styles_pci-logo__gUStR {
    filter: grayscale(1);
    opacity: .4
}

.styles_dmg-logo__2F6P4:hover,.styles_pci-logo__gUStR:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_dmg-logo__2F6P4.styles_readable__uZntM {
    filter: brightness(0) invert(1)
}

@media only screen and (min-width: 992px) {
    .styles_poweredby__FYM6_>div {
        padding:0 20px 0 0
    }
}

.styles_header__aD3DD {
    padding-left: 7.9rem;
    margin-bottom: 1.75rem;
    display: flex;
    width: 100%
}

.styles_title__NelPC {
    margin-left: 8.1rem;
    align-self: center;
    flex: 1 1 auto
}

.styles_shop-logo__vU2FR {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%!important;
    margin-left: auto;
    margin-right: auto
}

.styles_shop-logo--img__j5nkG {
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/subscribe/img/v4/shop.png);
    border-radius: 50%!important
}

.styles_shop-title__mwg3T {
    font-size: 40px;
    color: #8470f2;
    line-height: 1;
    font-weight: 300
}

.styles_poweredby__KaEqy {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    color: #aaaeb3
}

.styles_logo__Xc0Bu {
    font-size: xx-large
}

.styles_logo__Xc0Bu img {
    background-color: #fff;
    filter: grayscale(1);
    opacity: .25;
    border-radius: 3px;
    width: 5vw;
    max-width: 30px
}

.styles_logo__Xc0Bu img:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_logo__Xc0Bu .styles_readable__DTuAg img {
    padding: .25rem;
    max-width: 38px
}

.styles_dmg-logo__Om47y,.styles_pci-logo__fResR {
    filter: grayscale(1);
    opacity: .4
}

.styles_dmg-logo__Om47y:hover,.styles_pci-logo__fResR:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_dmg-logo__Om47y.styles_readable__DTuAg {
    filter: brightness(0) invert(1)
}

@media only screen and (min-width: 992px) {
    .styles_poweredby__KaEqy>div {
        padding:0 20px 0 0
    }
}

.styles_conversion-disclaimer__D_P9P {
    font-size: .75rem;
    line-height: 1rem
}

.styles_installments__DiqSy {
    font-size: 12px;
    opacity: 1
}

.styles_subtitle-elements--title__1wPbT {
    padding-right: 10px;
    padding-left: 10px
}

.styles_total-price-label__VxKCo {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_installments-hilight__thOut {
    font-size: 24px;
    font-weight: 100
}

.styles_total-price-value__Adtj7 {
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center;
    font-size: 29px
}

@media(max-width: 960px) {
    .styles_total-price-label__VxKCo {
        font-size:12px
    }
}

.styles_order-details-background__GHbHj {
    background-image: linear-gradient(231deg,#8470f2,#1dc4e9);
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_order-detail-collapse__XXoMa {
    color: #fff;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    cursor: pointer
}

.styles_shop-title__i0op6 {
    font-size: 32px;
    color: #fff;
    line-height: .84;
    font-weight: 100
}

@media only screen and (min-width: 992px) {
    .styles_order-detail__gkhD7 {
        position:sticky;
        top: 20px;
        min-width: 19rem;
        height: calc(100vh - 320px);
        min-height: 540px
    }
}

.styles_product-title__JT2XJ {
    font-size: 16px;
    line-height: 1.5;
    max-width: 250px;
    text-align: center
}

.styles_product-image__cIiZu {
    min-width: calc(35px + 7vw);
    min-height: calc(35px + 7vw);
    box-shadow: 0 24px 34px -18px rgba(0,0,0,.102);
    border: 2px solid #1dc4e9;
    background-color: #7894fc;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.styles_product-image-mobile__xiWRv {
    width: 150px;
    height: 150px;
    border-radius: 12px
}

.styles_product-count__gV5KE {
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    padding: 0 1rem;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 65px;
    min-height: 24px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.102);
    border-radius: 24px;
    background-color: #fff
}

.styles_total-price__N62cq {
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_total-price--value__C0lwe {
    font-size: 29px
}

.styles_total-price--highlight__D_2oK {
    font-size: 24px
}

.styles_total-price--title__NOM4P {
    opacity: .69;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_shop-logo__JXLab {
    width: 50px;
    height: 50px;
    background-color: #fff
}

.styles_shop-logo--img__IaOK7 {
    width: 50px;
    height: 50px;
    margin: 0 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/subscribe/img/v4/shop.png)
}

.styles_shop-title__mSICs {
    font-size: 21px;
    color: #fff;
    line-height: 1;
    font-weight: 300
}

.styles_order-details-background__npQTQ {
    background-image: linear-gradient(231deg,#8470f2,#1dc4e9);
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.styles_order-detail-collapse__Ij9S_ {
    color: #fff;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    cursor: pointer
}

@media only screen and (min-width: 992px) {
    .styles_order-detail__HKSTE {
        position:sticky;
        top: 20px;
        min-width: 19rem;
        height: calc(100vh - 320px);
        min-height: 540px
    }
}

.styles_product-title__Gb1js {
    font-size: 16px;
    line-height: 1.5;
    max-width: 250px;
    text-align: center
}

.styles_product-image__CsPQ8 {
    min-width: calc(51px + 7vw);
    min-height: calc(51px + 7vw);
    box-shadow: 0 24px 34px -18px rgba(0,0,0,.102);
    border: 2px solid #1dc4e9;
    background-color: #7894fc;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.styles_product-image-mobile__ze03b {
    width: 150px;
    height: 150px;
    border-radius: 12px
}

.styles_product-count__VqR27 {
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    padding: 0 1rem;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 65px;
    min-height: 24px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.102);
    border-radius: 24px;
    background-color: #fff
}

.styles_total-price__v3hrD {
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_total-price--value__c3zaK {
    font-size: 29px
}

.styles_total-price--highlight__urGDB {
    font-size: 24px
}

.styles_total-price--title__liGx4 {
    opacity: .69;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_subtitle-elements--title__kldqt {
    padding-right: 10px;
    padding-left: 10px
}

.styles_subtitle-elements--title__kldqt span {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_subtitle-elements--title__kldqt p {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_subtitle-elements__Hdf_l .styles_payment-detail__kPBul {
    border: none
}

.styles_shop-logo__8DMzK {
    width: 50px;
    height: 50px;
    background-color: #fff
}

.styles_shop-logo--img__5ZQt0 {
    width: 50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/subscribe/img/checkout/v4/shop.png)
}

.styles_shop-logo--title__VRpCY {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_subtitle-elements__Hdf_l .styles_payment-detail__kPBul {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff
}

.styles_interestValue-label__Ctf_8 {
    opacity: .69;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.styles_interestValue-value__d2xlH {
    font-size: 12px;
    font-weight: 700;
    line-height: .83;
    letter-spacing: 2.4px;
    color: #fff
}

.styles_subtitle-elements--title__1Qmu7 {
    padding-right: 10px;
    padding-left: 10px
}

@media(max-width: 960px) {
    .styles_interestValue-label__Ctf_8 {
        font-size:12px
    }

    .styles_interestValue-value__d2xlH {
        font-size: 14px
    }
}

.styles_assistance__vKAmF {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 8px
}

.styles_button__0dSqW {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    height: 36px;
    padding: 6px 8px;
    margin-top: 1rem
}

.styles_channels__1dh4f .svg-inline--fa {
    font-size: 1.2rem;
    margin-right: .5rem!important
}

.styles_social__9WUyg {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px
}

@media(max-width: 960px) {
    .styles_social__9WUyg {
        font-size:14px
    }

    .styles_channels__1dh4f {
        gap: 16px
    }

    .styles_channels__1dh4f .svg-inline--fa {
        font-size: 1.4rem
    }
}

.styles_button__Bi5Bl {
    background-color: transparent;
    display: contents
}

.styles_text__xoNZx {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    transition: color .2s ease-out
}

@media(hover: hover) {
    .styles_text__xoNZx:hover {
        transition:color .2s ease-out;
        background-color: transparent
    }
}

.styles_text__xoNZx:active {
    filter: brightness(80%)
}

.styles_disclaimer__gpG6D {
    white-space: pre-line;
    margin-bottom: 16px
}

.styles_disclaimer__gpG6D,.styles_interest-rate__aRtbV,.styles_privacy-policy__t2VUv,.styles_terms__j5yN0 {
    text-align: center;
    word-break: break-word;
    font-size: 13px;
    font-style: italic
}

.styles_buy-button__zviLK {
    width: 300px;
    padding: 8px
}

.styles_required-fields-warning__7i2G_ {
    width: 300px;
    border-radius: 8px 8px 0 0;
    padding: 2px 8px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    cursor: pointer
}

.styles_autocomplete__BuAGS label.Mui-error+div.MuiInputBase-root,.styles_autocomplete__BuAGS.required label.MuiFormLabel-colorSuccess+div.MuiInputBase-root {
    padding-right: 60px
}

.styles_icon__SDNl4.svg-inline--fa {
    margin-top: 1.5rem;
    margin-right: .3rem
}

.styles_tags__Pp95Z {
    position: absolute;
    max-width: 83%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.styles_textField__d__zr input {
    cursor: pointer
}

.styles_selectAllOption___s33s {
    list-style-type: none;
    margin: 0;
    padding: .4rem 0;
    cursor: pointer;
    background-color: #fff
}

.styles_selectAllOption___s33s:hover {
    background-color: #f2f2f2!important
}

.styles_selectAllOption___s33s[aria-selected=true] {
    background-color: rgba(132,112,242,.129)!important
}

.styles_validationIconAlignment__5FM03 {
    width: 1.2rem;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px;
    top: -1px
}

.styles_dialog__jXZv4 .MuiPaper-root {
    max-width: 400px!important
}

.styles_dialogTitle__br7oy {
    color: #aaaeb3;
    text-align: center
}

.styles_progressBar__jgR3F.MuiLinearProgress-root {
    background-color: #636c7c
}

.styles_progressBar__jgR3F .MuiLinearProgress-barColorSecondary {
    background-color: #fff
}

.styles_value-label__F8w0I {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #383c3e!important
}

.styles_shipping-label__QmRGN {
    margin-top: .3rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #383c3e!important
}

.styles_content__3CuEt {
    min-height: 10.5vh;
    max-height: 68vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-top: .5rem
}

.styles_option__32hf4:hover {
    background: rgba(230,233,235,.561)
}

.styles_title__x7Bm5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px
}

.styles_subTitle__yK5Q0 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px
}

.styles_cupomInput__sOOFy {
    width: 100%
}

.styles_cupomInput__sOOFy .MuiInputBase-root {
    height: 32px;
    border-radius: 8px 0 0 8px!important;
    padding-left: 15px!important;
    padding-right: 15px!important
}

.styles_cupomInput__sOOFy .MuiInputBase-root .MuiInputBase-input {
    padding: 4px 0
}

.styles_cupomInput__sOOFy .MuiFormControl-root {
    margin: 0
}

.styles_cupomInput__sOOFy .MuiFormHelperText-root {
    line-height: 14px
}

.styles_cupomButton__eZHZR {
    border-radius: 0 8px 8px 0;
    height: 32px;
    margin-left: .25rem;
    width: inherit;
    max-width: 105px
}

.styles_validationIconAlignment__Q4TK6 {
    width: 1.2rem;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px
}

.styles_icon__nDKz8.svg-inline--fa {
    margin-right: .3rem
}

.styles_tool_tip__uz48r .MuiTooltip-tooltip {
    font-size: 14px;
    line-height: 1rem;
    padding: 5px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0,0,0,.85)!important;
    opacity: .9!important;
    pointer-events: none
}

.styles_cards__W3_Ye {
    margin-bottom: -100px;
    margin-top: 84px
}

.styles_card_brand__y8GHR {
    height: 18px;
    width: auto;
    border-radius: 3px
}

.styles_inactive___CRyL {
    filter: grayscale(1);
    opacity: .25
}

.styles_card-brands__VFBf6 {
    margin-top: -1.2rem;
    position: absolute
}

@font-face {
    font-family: swiper-icons;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}

:host {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box
}

.swiper-android .swiper-slide,.swiper-ios .swiper-slide,.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-horizontal {
    touch-action: pan-y
}

.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,.swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform,height
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden
}

.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px
}

.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-3d {
    perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide {
    transform-style: preserve-3d
}

.swiper-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-css-mode.swiper-horizontal>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-css-mode.swiper-vertical>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

.swiper-css-mode.swiper-free-mode>.swiper-wrapper {
    scroll-snap-type: none
}

.swiper-css-mode.swiper-free-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: none
}

.swiper-css-mode.swiper-centered>.swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999
}

.swiper-css-mode.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center;
    scroll-snap-stop:always}

.swiper-css-mode.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    margin-inline-start:var(--swiper-centered-offset-before)}

    .swiper-css-mode.swiper-centered.swiper-horizontal>.swiper-wrapper:before {
        height: 100%;
        min-height: 1px;
        width: var(--swiper-centered-offset-after);
    }
    
    .swiper-css-mode.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
        margin-block-start: var(--swiper-centered-offset-before);
    }
    
    .swiper-css-mode.swiper-centered.swiper-vertical>.swiper-wrapper:before {
        width: 100%;
        min-width: 1px;
        height: var(--swiper-centered-offset-after);
    }
    

.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0,0,0,.15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent)
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
    border-top: 4px solid transparent
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s linear infinite
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.styles_swiper__HG2Nu {
    padding-right: 10px
}

.styles_swiper__HG2Nu .swiper-slide {
    border-width: 1px;
    border-style: solid;
    width: 160px
}

.styles_swiper__HG2Nu .swiper-pagination {
    pointer-events: none;
    text-align: end;
    position: static;
    margin-left: 10px
}

.styles_title__Owb1Q {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin-bottom: .5rem
}

.styles_sub_title__m5x2i {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 1rem
}

.styles_offer__Ij_8o {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer
}

.styles_offer__Ij_8o:disabled {
    opacity: .5;
    cursor: default
}

.styles_offer-description__lXjIw {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 1rem
}

.styles_offer-price__5OTKK {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px
}

.styles_offer-installment___cDi4 {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px
}

.styles_offer-simulated-value___xulr {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.styles_textField__UNvrs>:after,.styles_textField__UNvrs>:before {
    display: none
}

.styles_textField__UNvrs .MuiAutocomplete-input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: unset!important;
    max-width: 110px
}

.styles_shop-logo__nZcjw {
    width: 34px;
    height: 34px;
    border-radius: 64px!important;
    margin-left: auto;
    margin-right: auto
}

.styles_shop-logo--img__nRFNs {
    width: 34px;
    height: 34px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/subscribe/img/v4/shop_logo.png);
    border-radius: 64px!important
}

.styles_shop-title__UYoVx {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px
}

.styles_secure-payment__UFKcf {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: #fff;
    color: #383c3e
}

.styles_product-title__Oin7u {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px
}

.styles_product-image__Om49I {
    min-width: calc(51px + 7rem);
    min-height: calc(51px + 7rem);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px
}

.styles_product-count__eSaHp {
    margin-top: 8px
}

.styles_product-count__eSaHp,.styles_show-qty__e3bbQ {
    padding: 4px 8px;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 8px;
    background-color: #fff;
    color: #383c3e
}

.styles_show-qty__e3bbQ {
    margin-top: 20px;
    width: 5.5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer
}

.styles_simulated__sy8_i {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

@media(max-width: 960px) {
    .styles_simulated__sy8_i {
        font-size:13px
    }
}

.styles_subTotal__4k5sm {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px
}

.styles_divider__JKHzp {
    border-top-width: 1px;
    border-top-style: solid
}

.styles_coupon__8Fx8q,.styles_discount__8_lQt,.styles_extraValue__Y8Sku {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px
}

.styles_divider__zyrhM {
    border-top-width: 1px;
    border-top-style: solid
}

.styles_discount__uXHI7,.styles_increment__NmqW9,.styles_product__moB67,.styles_shipping__jZd6z,.styles_taxValue__1xOg1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px
}

.styles_trial__F3mLw {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

.styles_label__DHKN0 {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px
}

.styles_total__19LFd {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase
}

.styles_value__KKqUD {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px
}

.styles_total-price__N9bc9 {
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: normal;
    text-align: center
}

.styles_subtitle-elements__3iCv1 .styles_payment-detail__HDrtD {
    border: none
}

.styles_divider__tkX2M {
    border-top-width: 2px;
    border-top-style: solid;
    margin-bottom: .5rem
}

@media only screen and (min-width: 992px) {
    .styles_order-detail__439nD {
        position:sticky;
        top: 20px;
        min-width: 20rem;
        height: calc(100vh - 320px);
        min-height: 540px
    }
}

.styles_step__dHLhf .MuiStepIcon-text {
    font-size: 14px
}

.styles_step__dHLhf .MuiStepLabel-label {
    color: #aaaeb3;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400!important;
    margin-top: 10px!important
}

.styles_step__dHLhf .MuiStepLabel-iconContainer {
    padding: 0
}

@media(max-width: 960px) {
    .styles_step__dHLhf .MuiStepIcon-text,.styles_step__dHLhf .MuiStepLabel-label {
        font-size:12px
    }
}

.styles_poweredby__eN8C3 {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    color: #aaaeb3
}

.styles_logo__vaOXs {
    font-size: xx-large
}

.styles_logo__vaOXs img {
    background-color: #fff;
    filter: grayscale(1);
    opacity: .25;
    border-radius: 3px;
    width: 5vw;
    max-width: 30px
}

.styles_logo__vaOXs img:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_logo__vaOXs .styles_readable__s2ctT img {
    padding: .25rem;
    max-width: 38px
}

.styles_dmg-logo__PbRQF,.styles_pci-logo__Pk6oi {
    filter: grayscale(1);
    opacity: .4
}

.styles_dmg-logo__PbRQF:hover,.styles_pci-logo__Pk6oi:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_readable__s2ctT {
    filter: brightness(0) invert(1)
}

@media only screen and (min-width: 992px) {
    .styles_poweredby__eN8C3>div {
        padding:0 20px 0 0
    }
}

.styles_poweredby__o91ti {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    color: #aaaeb3
}

.styles_logo__SWaDP {
    font-size: xx-large
}

.styles_logo__SWaDP img {
    background-color: #fff;
    filter: grayscale(1);
    opacity: .25;
    border-radius: 3px;
    width: 5vw;
    max-width: 30px
}

.styles_logo__SWaDP img:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_logo__SWaDP .styles_readable__Szyp3 img {
    padding: .25rem;
    max-width: 38px
}

.styles_dmg-logo__BZZVR,.styles_pci-logo__eloD3 {
    filter: grayscale(1);
    opacity: .4
}

.styles_dmg-logo__BZZVR:hover,.styles_pci-logo__eloD3:hover {
    filter: unset;
    opacity: 1;
    transition: .5s
}

.styles_dmg-logo__BZZVR.styles_readable__Szyp3 {
    filter: brightness(0) invert(1)
}

@media only screen and (min-width: 992px) {
    .styles_poweredby__o91ti>div {
        padding:0 20px 0 0
    }
}

.styles_product-title__587gP {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px
}

.styles_product-image__4UGjD {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px
}

.styles_product-count__VY5QZ {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 8px;
    white-space: nowrap;
    background-color: #fff;
    color: #383c3e
}

.styles_product-title__FywKG {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px
}

.styles_product-image__mHgqL {
    width: 67px;
    height: 67px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 8px
}

.styles_product-count__Sjyn9 {
    padding: 0 8px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 8px;
    align-self: start;
    background-color: #fff;
    color: #383c3e
}