@import"https://fonts.googleapis.com/css?family=Nunito:300,400,600,700|Lato&display=swap";*,:after,:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

.container {
    width: 100%
}

@media (min-width: 600px) {
    .container {
        max-width:600px
    }
}

@media (min-width: 960px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 961px) {
    .container {
        max-width:961px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1920px) {
    .container {
        max-width:1920px
    }
}

.pointer-events-none {
    pointer-events: none
}

.invisible {
    visibility: hidden
}

.\!collapse {
    visibility: collapse!important
}

.collapse {
    visibility: collapse
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.top-0 {
    top: 0
}

.top-\[64\.5px\] {
    top: 64.5px
}

.z-0 {
    z-index: 0
}

.z-\[1\] {
    z-index: 1
}

.m-0 {
    margin: 0
}

.\!mx-0 {
    margin-left: 0!important;
    margin-right: 0!important
}

.-mx-6 {
    margin-left: -1.5rem;
    margin-right: -1.5rem
}

.mx-0 {
    margin-left: 0;
    margin-right: 0
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-\[20px\] {
    margin-left: 20px;
    margin-right: 20px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto
}

.\!mb-0 {
    margin-bottom: 0!important
}

.-mb-\[1px\] {
    margin-bottom: -1px
}

.-mt-2 {
    margin-top: -.5rem
}

.-mt-\[1px\] {
    margin-top: -1px
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.ml-0 {
    margin-left: 0
}

.ml-1 {
    margin-left: .25rem
}

.ml-2 {
    margin-left: .5rem
}

.ml-4 {
    margin-left: 1rem
}

.ml-5 {
    margin-left: 1.25rem
}

.ml-6 {
    margin-left: 1.5rem
}

.ml-8 {
    margin-left: 2rem
}

.mr-1 {
    margin-right: .25rem
}

.mr-2 {
    margin-right: .5rem
}

.mr-3 {
    margin-right: .75rem
}

.mr-4 {
    margin-right: 1rem
}

.mr-8 {
    margin-right: 2rem
}

.mr-\[15px\] {
    margin-right: 15px
}

.mr-\[7px\] {
    margin-right: 7px
}

.mt-1 {
    margin-top: .25rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-16 {
    margin-top: 4rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-7 {
    margin-top: 1.75rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-\[-30px\] {
    margin-top: -30px
}

.mt-\[20px\] {
    margin-top: 20px
}

.block {
    display: block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-0 {
    height: 0
}

.h-0\.5 {
    height: .125rem
}

.h-9 {
    height: 2.25rem
}

.h-fit {
    height: -moz-fit-content;
    height: fit-content
}

.h-full {
    height: 100%
}

.min-h-\[3rem\] {
    min-height: 3rem
}

.min-h-\[65vh\] {
    min-height: 65vh
}

.min-h-screen {
    min-height: 100vh
}

.w-2\/6 {
    width: 33.333333%
}

.w-4\/5 {
    width: 80%
}

.w-40 {
    width: 10rem
}

.w-5 {
    width: 1.25rem
}

.w-60 {
    width: 15rem
}

.w-\[280px\] {
    width: 280px
}

.w-\[300px\] {
    width: 300px
}

.w-\[400px\] {
    width: 400px
}

.w-\[650px\] {
    width: 650px
}

.w-\[80\%\] {
    width: 80%
}

.w-full {
    width: 100%
}

.max-w-\[1300px\] {
    max-width: 1300px
}

.flex-auto {
    flex: 1 1 auto
}

.flex-none {
    flex: none
}

.flex-shrink,.shrink {
    flex-shrink: 1
}

.shrink-0 {
    flex-shrink: 0
}

.flex-grow {
    flex-grow: 1
}

.flex-grow-0 {
    flex-grow: 0
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-default {
    cursor: default
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.resize {
    resize: both
}

.grid-cols-4 {
    grid-template-columns: repeat(4,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.gap-1 {
    gap: .25rem
}

.gap-2 {
    gap: .5rem
}

.gap-4 {
    gap: 1rem
}

.gap-\[10px\] {
    gap: 10px
}

.gap-\[2px\] {
    gap: 2px
}

.self-center {
    align-self: center
}

.self-stretch {
    align-self: stretch
}

.overflow-auto {
    overflow: auto
}

.whitespace-pre-wrap {
    white-space: pre-wrap
}

.break-words {
    overflow-wrap: break-word
}

.break-all {
    word-break: break-all
}

.rounded-\[50\%\] {
    border-radius: 50%
}

.rounded-lg {
    border-radius: .5rem
}

.\!rounded-t-none {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important
}

.rounded-b {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0
}

.border-t-\[1px\] {
    border-top-width: 1px
}

.border-solid {
    border-style: solid
}

.\!p-0 {
    padding: 0!important
}

.p-0 {
    padding: 0
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-6 {
    padding: 1.5rem
}

.p-\[5px\] {
    padding: 5px
}

.\!px-2 {
    padding-left: .5rem!important;
    padding-right: .5rem!important
}

.\!py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important
}

.\!py-4 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.\!pt-2 {
    padding-top: .5rem!important
}

.pb-0 {
    padding-bottom: 0
}

.pb-1 {
    padding-bottom: .25rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pb-3 {
    padding-bottom: .75rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pb-\[20px\] {
    padding-bottom: 20px
}

.pl-0 {
    padding-left: 0
}

.pl-4 {
    padding-left: 1rem
}

.pl-5 {
    padding-left: 1.25rem
}

.pl-6 {
    padding-left: 1.5rem
}

.pr-0 {
    padding-right: 0
}

.pr-2 {
    padding-right: .5rem
}

.pr-6 {
    padding-right: 1.5rem
}

.pt-0 {
    padding-top: 0
}

.pt-1 {
    padding-top: .25rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-5 {
    padding-top: 1.25rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pt-7 {
    padding-top: 1.75rem
}

.pt-8 {
    padding-top: 2rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-start {
    text-align: start
}

.text-end {
    text-align: end
}

.align-baseline {
    vertical-align: baseline
}

.\!text-sm {
    font-size: .875rem!important;
    line-height: 1.25rem!important
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-8xl {
    font-size: 6rem;
    line-height: 1
}

.text-\[13px\] {
    font-size: 13px
}

.text-\[21px\] {
    font-size: 21px
}

.text-\[22px\] {
    font-size: 22px
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-normal {
    font-weight: 400
}

.uppercase {
    text-transform: uppercase
}

.normal-case {
    text-transform: none
}

.italic {
    font-style: italic
}

.leading-4 {
    line-height: 1rem
}

.leading-6 {
    line-height: 1.5rem
}

.opacity-50 {
    opacity: .5
}

.opacity-70 {
    opacity: .7
}

.outline {
    outline-style: solid
}

.blur {
    --tw-blur: blur(8px)
}

.blur,.grayscale {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.grayscale {
    --tw-grayscale: grayscale(100%)
}

.invert {
    --tw-invert: invert(100%)
}

.invert,.sepia {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.sepia {
    --tw-sepia: sepia(100%)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

* {
    padding: 0;
    margin: 0;
    font-family: Nunito,Lato,Arial,Helvetica,sans-serif
}

h3 {
    color: #8470f2;
    font-size: 1rem;
    font-weight: 700
}

@media (min-width: 960px) {
    .sm\:-mx-7 {
        margin-left:-1.75rem;
        margin-right: -1.75rem
    }

    .sm\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem
    }

    .sm\:mb-0 {
        margin-bottom: 0
    }

    .sm\:mt-0 {
        margin-top: 0
    }

    .sm\:mt-6 {
        margin-top: 1.5rem
    }

    .sm\:w-1\/2 {
        width: 50%
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:items-start {
        align-items: flex-start
    }

    .sm\:justify-end {
        justify-content: flex-end
    }

    .sm\:gap-0 {
        gap: 0
    }

    .sm\:gap-6 {
        gap: 1.5rem
    }

    .sm\:self-end {
        align-self: flex-end
    }

    .sm\:p-4 {
        padding: 1rem
    }

    .sm\:px-\[72px\] {
        padding-left: 72px;
        padding-right: 72px
    }

    .sm\:text-start {
        text-align: start
    }

    .sm\:text-end {
        text-align: end
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

@media (min-width: 1280px) {
    .md\:pl-1 {
        padding-left:.25rem
    }
}

@media (min-width: 1920px) {
    .lg\:mt-0 {
        margin-top:0
    }

    .lg\:block {
        display: block
    }

    .lg\:flex {
        display: flex
    }

    .lg\:w-1\/4 {
        width: 25%
    }

    .lg\:w-3\/4,.lg\:w-\[75\%\] {
        width: 75%
    }

    .lg\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem
    }
}

@media (max-width: 960px) {
    .mobile\:w-full {
        width:100%
    }

    .mobile\:grid-cols-1 {
        grid-template-columns: repeat(1,minmax(0,1fr))
    }

    .mobile\:flex-col {
        flex-direction: column
    }
}

@media (min-width: 961px) {
    .desktop\:w-2\/4 {
        width:50%
    }

    .desktop\:w-auto {
        width: auto
    }

    .desktop\:w-full {
        width: 100%
    }

    .desktop\:flex-row {
        flex-direction: row
    }

    .desktop\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .desktop\:pl-1 {
        padding-left: .25rem
    }
}

.styles_dialog__8jlh3 .MuiDialog-paper {
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 600px
}

.styles_dialog__8jlh3 .MuiDialogTitle-root {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}

.styles_dialog__8jlh3 .MuiDialogTitle-root .styles_dialog_title__Dnh1p {
    text-align: center;
    font-weight: 800;
    font-size: 24px
}

.styles_dialog__8jlh3 .MuiDialogContent-root {
    padding-top: 20px;
    padding-bottom: 0
}

.styles_content__T1_Ig {
    min-height: 100px;
    width: 100%;
    color: rgba(0,0,0,.6)
}

.styles_default_content__Cah8z {
    padding: 1.5rem!important;
    color: rgba(0,0,0,.6);
    width: 100%
}

.styles_seconds__yi4vi {
    font-size: 18px;
    margin-left: -2px;
    font-weight: 700
}

:host,:root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Solid";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Regular";
    --fa-font-light: normal 300 1em/1 "Font Awesome 6 Light";
    --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Thin";
    --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
    --fa-font-sharp-solid: normal 900 1em/1 "Font Awesome 6 Sharp";
    --fa-font-sharp-regular: normal 400 1em/1 "Font Awesome 6 Sharp";
    --fa-font-sharp-light: normal 300 1em/1 "Font Awesome 6 Sharp";
    --fa-font-sharp-thin: normal 100 1em/1 "Font Awesome 6 Sharp";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands"
}

svg:not(:host).svg-inline--fa,svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box
}

.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-2xs {
    vertical-align: .1em
}

.svg-inline--fa.fa-xs {
    vertical-align: 0
}

.svg-inline--fa.fa-sm {
    vertical-align: -.07143em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.2em
}

.svg-inline--fa.fa-xl {
    vertical-align: -.25em
}

.svg-inline--fa.fa-2xl {
    vertical-align: -.3125em
}

.svg-inline--fa.fa-pull-left {
    margin-right: var(--fa-pull-margin,.3em);
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: var(--fa-pull-margin,.3em);
    width: auto
}

.svg-inline--fa.fa-li {
    width: var(--fa-li-width,2em);
    top: .25em
}

.svg-inline--fa.fa-fw {
    width: var(--fa-fw-width,1.25em)
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers-counter,.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    transform-origin: center center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center center
}

.fa-layers-counter {
    background-color: var(--fa-counter-background-color,#ff253a);
    border-radius: var(--fa-counter-border-radius,1em);
    box-sizing: border-box;
    color: var(--fa-inverse,#fff);
    line-height: var(--fa-counter-line-height,1);
    max-width: var(--fa-counter-max-width,5em);
    min-width: var(--fa-counter-min-width,1.5em);
    overflow: hidden;
    padding: var(--fa-counter-padding,.25em .5em);
    right: var(--fa-right,0);
    text-overflow: ellipsis;
    top: var(--fa-top,0);
    transform: scale(var(--fa-counter-scale,.25));
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: var(--fa-bottom,0);
    right: var(--fa-right,0);
    top: auto;
    transform: scale(var(--fa-layers-scale,.25));
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: var(--fa-bottom,0);
    left: var(--fa-left,0);
    right: auto;
    top: auto;
    transform: scale(var(--fa-layers-scale,.25));
    transform-origin: bottom left
}

.fa-layers-top-right {
    top: var(--fa-top,0);
    right: var(--fa-right,0);
    transform: scale(var(--fa-layers-scale,.25));
    transform-origin: top right
}

.fa-layers-top-left {
    left: var(--fa-left,0);
    right: auto;
    top: var(--fa-top,0);
    transform: scale(var(--fa-layers-scale,.25));
    transform-origin: top left
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-2xs {
    font-size: .625em;
    line-height: .1em;
    vertical-align: .225em
}

.fa-xs {
    font-size: .75em;
    line-height: .08333em;
    vertical-align: .125em
}

.fa-sm {
    font-size: .875em;
    line-height: .07143em;
    vertical-align: .05357em
}

.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -.075em
}

.fa-xl {
    font-size: 1.5em;
    line-height: .04167em;
    vertical-align: -.125em
}

.fa-2xl {
    font-size: 2em;
    line-height: .03125em;
    vertical-align: -.1875em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin,2.5em);
    padding-left: 0
}

.fa-ul>li {
    position: relative
}

.fa-li {
    left: calc(var(--fa-li-width, 2em) * -1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width,2em);
    line-height: inherit
}

.fa-border {
    border-color: var(--fa-border-color,#eee);
    border-radius: var(--fa-border-radius,.1em);
    border-style: var(--fa-border-style,solid);
    border-width: var(--fa-border-width,.08em);
    padding: var(--fa-border-padding,.2em .25em .15em)
}

.fa-pull-left {
    float: left;
    margin-right: var(--fa-pull-margin,.3em)
}

.fa-pull-right {
    float: right;
    margin-left: var(--fa-pull-margin,.3em)
}

.fa-beat {
    animation-name: fa-beat;
    animation-delay: var(--fa-animation-delay,0s);
    animation-direction: var(--fa-animation-direction,normal);
    animation-duration: var(--fa-animation-duration,1s);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,ease-in-out)
}

.fa-bounce {
    animation-name: fa-bounce;
    animation-delay: var(--fa-animation-delay,0s);
    animation-direction: var(--fa-animation-direction,normal);
    animation-duration: var(--fa-animation-duration,1s);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1))
}

.fa-fade {
    animation-name: fa-fade;
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.4,0,.6,1))
}

.fa-beat-fade,.fa-fade {
    animation-delay: var(--fa-animation-delay,0s);
    animation-direction: var(--fa-animation-direction,normal);
    animation-duration: var(--fa-animation-duration,1s)
}

.fa-beat-fade {
    animation-name: fa-beat-fade;
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.4,0,.6,1))
}

.fa-flip {
    animation-name: fa-flip;
    animation-delay: var(--fa-animation-delay,0s);
    animation-direction: var(--fa-animation-direction,normal);
    animation-duration: var(--fa-animation-duration,1s);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,ease-in-out)
}

.fa-shake {
    animation-name: fa-shake;
    animation-duration: var(--fa-animation-duration,1s);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,linear)
}

.fa-shake,.fa-spin {
    animation-delay: var(--fa-animation-delay,0s);
    animation-direction: var(--fa-animation-direction,normal)
}

.fa-spin {
    animation-name: fa-spin;
    animation-duration: var(--fa-animation-duration,2s);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,linear)
}

.fa-spin-reverse {
    --fa-animation-direction: reverse
}

.fa-pulse,.fa-spin-pulse {
    animation-name: fa-spin;
    animation-direction: var(--fa-animation-direction,normal);
    animation-duration: var(--fa-animation-duration,1s);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,steps(8))
}

@media (prefers-reduced-motion:reduce) {
    .fa-beat,.fa-beat-fade,.fa-bounce,.fa-fade,.fa-flip,.fa-pulse,.fa-shake,.fa-spin,.fa-spin-pulse {
        animation-delay: -1ms;
        animation-duration: 1ms;
        animation-iteration-count: 1;
        transition-delay: 0s;
        transition-duration: 0s
    }
}

@keyframes fa-beat {
    0%,90% {
        transform: scale(1)
    }

    45% {
        transform: scale(var(--fa-beat-scale,1.25))
    }
}

@keyframes fa-bounce {
    0% {
        transform: scale(1) translateY(0)
    }

    10% {
        transform: scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,.9)) translateY(0)
    }

    30% {
        transform: scale(var(--fa-bounce-jump-scale-x,.9),var(--fa-bounce-jump-scale-y,1.1)) translateY(var(--fa-bounce-height,-.5em))
    }

    50% {
        transform: scale(var(--fa-bounce-land-scale-x,1.05),var(--fa-bounce-land-scale-y,.95)) translateY(0)
    }

    57% {
        transform: scale(1) translateY(var(--fa-bounce-rebound,-.125em))
    }

    64% {
        transform: scale(1) translateY(0)
    }

    to {
        transform: scale(1) translateY(0)
    }
}

@keyframes fa-fade {
    50% {
        opacity: var(--fa-fade-opacity,.4)
    }
}

@keyframes fa-beat-fade {
    0%,to {
        opacity: var(--fa-beat-fade-opacity,.4);
        transform: scale(1)
    }

    50% {
        opacity: 1;
        transform: scale(var(--fa-beat-fade-scale,1.125))
    }
}

@keyframes fa-flip {
    50% {
        transform: rotate3d(var(--fa-flip-x,0),var(--fa-flip-y,1),var(--fa-flip-z,0),var(--fa-flip-angle,-180deg))
    }
}

@keyframes fa-shake {
    0% {
        transform: rotate(-15deg)
    }

    4% {
        transform: rotate(15deg)
    }

    24%,8% {
        transform: rotate(-18deg)
    }

    12%,28% {
        transform: rotate(18deg)
    }

    16% {
        transform: rotate(-22deg)
    }

    20% {
        transform: rotate(22deg)
    }

    32% {
        transform: rotate(-12deg)
    }

    36% {
        transform: rotate(12deg)
    }

    40%,to {
        transform: rotate(0deg)
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.fa-rotate-90 {
    transform: rotate(90deg)
}

.fa-rotate-180 {
    transform: rotate(180deg)
}

.fa-rotate-270 {
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    transform: scaleX(-1)
}

.fa-flip-vertical {
    transform: scaleY(-1)
}

.fa-flip-both,.fa-flip-horizontal.fa-flip-vertical {
    transform: scale(-1)
}

.fa-rotate-by {
    transform: rotate(var(--fa-rotate-angle,0))
}

.fa-stack {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    position: relative;
    width: 2.5em
}

.fa-stack-1x,.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--fa-stack-z-index,auto)
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em
}

.fa-inverse {
    color: var(--fa-inverse,#fff)
}

.fa-sr-only,.fa-sr-only-focusable:not(:focus),.sr-only,.sr-only-focusable:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.svg-inline--fa .fa-primary {
    fill: var(--fa-primary-color,currentColor);
    opacity: var(--fa-primary-opacity,1)
}

.svg-inline--fa .fa-secondary {
    fill: var(--fa-secondary-color,currentColor)
}

.svg-inline--fa .fa-secondary,.svg-inline--fa.fa-swap-opacity .fa-primary {
    opacity: var(--fa-secondary-opacity,.4)
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
    opacity: var(--fa-primary-opacity,1)
}

.svg-inline--fa mask .fa-primary,.svg-inline--fa mask .fa-secondary {
    fill: #000
}

.fa-duotone.fa-inverse,.fad.fa-inverse {
    color: var(--fa-inverse,#fff)
}

.styles_button__KYO9K {
    text-transform: uppercase;
    border-radius: 8px
}

.styles_button__KYO9K.Mui-disabled {
    background-color: #c2b8f8;
    opacity: .5
}

@media(hover: hover) {
    .styles_button__KYO9K.MuiButton-root:hover {
        box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important
    }
}

.styles_button__KYO9K.MuiButton-containedError {
    background-image: unset;
    background-color: #fa5d5d;
    color: #fff
}

@media(hover: hover) {
    .styles_button__KYO9K.MuiButton-containedError.MuiButton-root:hover {
        background-color:#f82c2c!important
    }
}

.styles_elevated__FtFd4 {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}

.styles_default__uVfrt {
    max-width: unset
}

.styles_xsmall__gFc2b {
    min-width: 125px
}

.styles_small__VxnKI {
    min-width: 250px
}

.styles_medium__GDh9L {
    min-width: 290px
}

.styles_large__Zx5lp {
    min-width: 500px
}

.styles_button__DSIL5 {
    min-width: 25px!important;
    height: 20px!important;
    padding: 8px;
    border-radius: 16px;
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    gap: 8px
}

.styles_button__DSIL5 .MuiButton-startIcon {
    margin: 0
}

.styles_button__DSIL5 .svg-inline--fa {
    font-size: 18px
}

@media(hover: hover) {
    .styles_button__DSIL5:hover {
        background-color:rgba(0,0,0,.2)
    }
}

.styles_dialog__KRw8p .MuiDialog-paper {
    background-color: #fff;
    border-radius: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 600px
}

.styles_dialog__KRw8p .MuiDialogTitle-root {
    width: 100%;
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    gap: 4px
}

.styles_dialog__KRw8p .MuiDialogTitle-root .styles_dialog_close__8MYD6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch
}

.styles_dialog__KRw8p .MuiDialogTitle-root .styles_dialog_title___twt_ {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px
}

.styles_error__fKFMq {
    background-color: #fce5e5!important;
    color: #fa5d5d!important
}

@media(max-width: 960px) {
    .styles_dialog__KRw8p .MuiDialog-paper {
        margin:0;
        width: 100%;
        min-height: 50%;
        position: absolute;
        bottom: 0;
        border-radius: 16px 16px 0 0;
        box-shadow: 0 -4px 4px 0 rgba(0,0,0,.25)
    }

    .styles_dialog__KRw8p .MuiDialogTitle-root {
        gap: 22px;
        justify-content: center;
        align-items: center
    }

    .styles_dialog__KRw8p .MuiDialogTitle-root .styles_dialog_close__8MYD6 {
        justify-content: center
    }
}

.styles_message__lY_Sh {
    font-size: 20px;
    text-align: center
}

.styles_seconds__Xa03j {
    font-size: 18px;
    margin-left: -2px;
    font-weight: 700
}

.styles_button__gf9jl {
    border-radius: 8px;
    padding: 8px;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: all .2s ease-out;
    box-shadow: none!important
}

.styles_button__gf9jl.Mui-disabled {
    background-color: #c2b8f8;
    opacity: .5
}

@media(hover: hover) {
    .styles_button__gf9jl:hover {
        filter:brightness(80%);
        box-shadow: none
    }
}

.styles_error__JtDGk {
    background-color: #fa5d5d!important;
    color: #fff!important
}

.styles_button__wAvld {
    margin-right: 1.5rem;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid #fa5d5d;
    background-color: transparent!important;
    color: #fa5d5d!important;
    transition: all .2s ease
}

@media(hover: hover) {
    .styles_button__wAvld:hover {
        background-color:#fa5d5d!important;
        color: #fff!important;
        filter: none
    }
}

.styles_button__IdDt5 {
    height: 40px;
    width: 120px;
    border-radius: 8px
}

.styles_snackbar__y_1aM {
    max-width: 672px!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    justify-content: space-between!important;
    flex-wrap: nowrap!important
}

.styles_snackbar__y_1aM>div:last-child {
    display: flex!important;
    align-items: center!important;
    justify-content: flex-end!important;
    padding: 0!important;
    margin: 0!important
}

.styles_snackbar__y_1aM svg {
    font-size: 1.8rem
}